<ion-header color="tertiary">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" (click)="cancelar()">
      Cancelar
    </ion-buttons>
    <ion-buttons slot="end" (click)="updatePassword()">
      Guardar
    </ion-buttons>
    <ion-title style="padding-left: 80px;">Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin:10px;">
    <input type="text" type="password" placeholder="Contraseña anterior" style="height:35px; width:100%;" [(ngModel)]="passActual">
  </div>
  <div style="margin:10px;">
    <input type="text" id="np" type="password" placeholder="Nueva contraseña" style="height:35px; width:100%;"
      [(ngModel)]="passNew">
  </div>
   <div style="margin:10px;">
     <input type="text" id="rp" type="password" placeholder="Repetir contraseña" style="height:35px; width:100%;"
       [(ngModel)]="passRepit">
   </div>
  <div>
    <div style="margin: 10px; padding: 5px;" id="msg1" color="danger" [innerHtml]="msg"></div>
  </div>
</ion-content>
