<ion-header color="tertiary">
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" (click)="cancelar()">
            cancelar
        </ion-buttons>
          <ion-buttons slot="end" (click)="updateUsuario()">
              guardar
          </ion-buttons>
        <ion-title>Mi perfil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div padding class="ion-color-div">
        <div>
            <img *ngIf="imageFileName" [src]="imageFileName" alt="file" class="foto">
        </div>
        <ion-row>
            <ion-col class="flexcontainer">
                <ion-fab>
                    <button ion-fab (click)="ActionsPhoto()" type='file'>
                        <ion-icon name="camera" color="tertiary"></ion-icon>
                    </button>
                </ion-fab>
            </ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col class="flexcontainer">
                <h3>{{user.user}}</h3>
            </ion-col>
        </ion-row>
    </div>
    <ion-list>
        <ion-grid class="ion-color-item">
            <ion-row padding class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Nombre:
                </ion-col>
                <ion-col size="7">
                    <ion-input class="ion-input" [(ngModel)]="user['nombre']" type="text">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Apellido:
                </ion-col>
                <ion-col size="7">
                    <ion-input [(ngModel)]="user['apellido']" type="text">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Fecha Nac.:
                </ion-col>
                <ion-col size="7">
                    <ion-input [(ngModel)]="user.f_nacimiento" type="date">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Email:
                </ion-col>
                <ion-col size="7">
                    <ion-input [(ngModel)]="user.email" type="text"
                        ></ion-input>
                </ion-col>
                 <ion-col size="12">
                     <ion-text color="danger">
                         {{msgdata}}
                     </ion-text>
                 </ion-col>
            </ion-row>
            <ion-col size=12 no-padding>
                <ion-item-divider color="light" text-center no-padding>
                    <ion-label text-left>
                        <b padding>Credenciales</b>
                    </ion-label>
                </ion-item-divider>
            </ion-col>
             <ion-row class="ion-size-item">
                 <ion-col size="5" padding-start align-self-center>
                     Usuario:
                 </ion-col>
                 <ion-col size="7">
                     <ion-text color="tertiary"  style="padding-left: 30px;">
                         cambiar
                     </ion-text>
                 </ion-col>
             </ion-row>
              <ion-row class="ion-size-item">
                  <ion-col size="5" padding-start align-self-center>
                      Contraseña:
                  </ion-col>
                  <ion-col size="7">
                      <ion-text color="tertiary" style="padding-left: 30px;">
                          cambiar
                      </ion-text>
                  </ion-col>
              </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>
