page-perfil{
    .ion-input{
        background-color: transparent !important;
        text-shadow: 1px 1px 1px rgb(0,0,0);
    }
}
.foto{
   // background-image: url('../assets/imagenes/user.png')!important;
    border-radius: 50%;
    background-position: center;
    background-color: rgb(206, 206, 206);
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:10px !important;
  //  transform: rotate(-90deg);
}
.textsize12{
font-size: 12px;
}
.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
 }
.bg {
    --background: white !important;
} 
.bg-hidden {
    --background: transparent !important;
}

.ion-color-div {padding: 0 !important;  }
.ion-color-item {padding: 0 !important;}

.ion-size-item {
    padding: 0 !important;
    --background: transparent !important;
    height: 40px;
}

.ion-size-user {
    padding: 0 !important;
    height: 50px;
}

.ion-size-fab-save {
    padding: 0 !important;
    height: 75px;
}
