<ion-header color="tertiary">
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Perfil de usuario</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg" no-padding>
    <div padding class="ion-color-div">
        <ion-fab vertical="top" horizontal="end" slot="fixed" color="tertiary">
            <ion-fab-button mini color="tertiary">
                <ion-icon name="create" (click)="isDisabled()"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <div id="header"></div>
        <ion-row>
            <ion-col class="flexcontainer">
                <ion-fab>
                    <button ion-fab (click)="ActionsPhoto()">
                        <ion-icon name="camera" color="tertiary"></ion-icon>
                    </button>
                </ion-fab>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col class="flexcontainer">
                <h3>Aqui va el usuario</h3>
            </ion-col>
        </ion-row>
    </div>
    <ion-list>
        <ion-grid class="ion-color-item">
            <ion-row padding class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Nombre:
                </ion-col>
                <ion-col size="7">
                    <ion-input class="ion-input" [disabled]="is_edit" id="name" type="text" value="va el nombre">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Apellido:
                </ion-col>
                <ion-col size="7">
                    <ion-input [disabled]="is_edit" id="name" type="text" value="va apellido"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Fecha Nac.:
                </ion-col>
                <ion-col size="7">
                    <ion-input [disabled]="is_edit" id="name" type="date" value="va fecNac"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Email:
                </ion-col>
                <ion-col size="7">
                    <ion-input [disabled]="is_edit" id="name" type="text" value="va email"></ion-input>
                </ion-col>
            </ion-row>
            <ion-col size=12 no-padding>
                <ion-item-divider color="light" text-center no-padding>
                    <ion-label text-left>
                        <b padding>Credenciales</b>
                    </ion-label>
                </ion-item-divider>
            </ion-col>
            <ion-row class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Usuario:
                </ion-col>
                <ion-col size="7">
                    <ion-input [disabled]="is_edit" id="name" type="text" value="va usuario"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row ion-item color="tertiary" class="ion-size-item">
                <ion-col size="5" padding-start align-self-center>
                    Contraseña:
                </ion-col>
                <ion-col size="7">
                    <ion-input [disabled]="is_edit" id="name" type="text" value="va clave"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed" color="tertiary">
        <ion-fab-button mini color="tertiary" [disabled]="is_edit">
            <ion-icon name="save"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>