<ion-header color="tertiary">
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Perfil de usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  

  

<ion-content padding>
  
    <ion-fab vertical="top" horizontal="end" slot="fixed" color="tertiary">
        <ion-fab-button mini color="tertiary">
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <div id="header"></div>
                    
              <ion-row >
                  <ion-col class="flexcontainer">
                    <ion-fab>
                      <button ion-fab (click)="ActionsPhoto()">
                        <ion-icon name="camera" color="tertiary"></ion-icon>
                      </button>
                    </ion-fab>
                  </ion-col>
              </ion-row>
    



      

      <!-- <div>
      <ion-fab vertical="top" horizontal="left" slot="fixed" color="tertiary">
          <ion-fab-button color="tertiary" click="takephoto()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
       </div> -->

      

          
              
            
        
         
    
      
    
  

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
            <!-- <img [scr]="image"/>
    <button ion-button (click)="takePhoto()">Tomar foto</button> -->


    <!-- <button ion-button (click)="getimage()">Obtener foto de galeria</button>
    
    <p text-center><img src="{{ myphoto }}"></p> -->

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
      <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button color="tertiary" tab="search">
              <ion-label>Editar</ion-label>
              <ion-icon name="create"></ion-icon>
                
            </ion-tab-button>
          </ion-tab-bar>
      </ion-tabs>
  </ion-toolbar>
</ion-footer> -->