<ion-content no-padding>
  <div class="principal"></div>
  <p>
    <ion-button class="facebook-btn" shape="undefined" text-capitalize fill="clear" expand="block" (click)="loginFb()">
      <ion-icon name="logo-facebook" padding-end></ion-icon> Continuar con Facebook
    </ion-button>
  </p>
    <ion-grid>
    <ion-row>
      <ion-col size="12" text-right>
        <ion-button class="register-btn" color="darkLight" fill="outline" expand="block" (click)="IrPrincipal()">
          <ion-icon name="mail" padding-end></ion-icon>Regístrate
        </ion-button>
      </ion-col>
      <ion-col size="6" text-right class="ppding5">
        ¿Ya eres miembro?
      </ion-col>
      <ion-col size="6" float-right class="ppding5">
        <span color="tertiary" (click)="IrLoguear()">
          <b>Iniciar sesión</b></span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>