<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input required type="text" placeholder="Usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input required type="text" placeholder="Password"></ion-input>
  </ion-item>
  <ion-button shape="round" color="primary" fill="outline" href="/principal">Iniciar sesión</ion-button>
 </ion-content>
