<ion-header color="tertiary">
<ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
</ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid >
    <ion-row>
      <ion-col size="12" text-center>
        <div class="img-login">
        </div>
        <div>
          <form [formGroup]='formularioLogin' novalidate >
            <ion-list>
              <ion-item lines="none">
                <ion-icon padding-end name="person" item-left></ion-icon>
                <ion-input  class="ion-color-input" maxlength="10" color="tertiary" formControlName="user" type="text"
                  placeholder="usuario" name="user" [(ngModel)]="data.user">
                </ion-input>
              </ion-item>
              <ion-item lines="none" *ngIf="formularioLogin.get('user').errors && formularioLogin.get('usuario').dirty">
                <p *ngIf="formularioLogin.get('user').hasError('required')" class="error">
                  <ion-label class="size-peq">El usuario es requerido</ion-label>
                </p>
                <p *ngIf="formularioLogin.get('nombre').hasError('maxlength')" class="error">
                  <ion-label class="size-peq">El máximo de caracteres permitidos es 10</ion-label>
                </p>
              </ion-item>

              <ion-item lines="none" >
                <ion-icon padding-end name="key" item-left></ion-icon>
                <ion-input class="ion-color-input" maxlength="12" color="tertiary" formControlName="passsword"
                  type="password"
                  placeholder="contraseña" name="passsword" [(ngModel)]="data.passsword">
                </ion-input>
              </ion-item>
              <ion-item lines="none"
                *ngIf="formularioLogin.get('passsword').errors && formularioLogin.get('passsword').dirty">
                <p *ngIf="formularioLogin.get('passsword').hasError('required')" class="error">
                  <ion-label class="size-peq">La contraseña es requerida</ion-label>
                </p>
                <p *ngIf="formularioLogin.get('passsword').hasError('minlength')" class="error">
                  <ion-label class="size-peq">El mínimo de caracteres permitidos es 6</ion-label>
                </p>
              </ion-item>
                <div>
                  <ion-text color="danger">
                    {{msgdata}}
                  </ion-text>
                </div>
            <br>
              <ion-button class="paddTop" expand="block" shape="round" size="default" color="tertiary" type="submit"
        [disabled]="!formularioLogin.valid"
(click)="logins()"> Acceder</ion-button>
</ion-list>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>