<ion-header color="tertiary">
  <ion-toolbar color="tertiary">
    <ion-title>Buscar redes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="centrado">
  <div class="principal">
    <div style="font-size: 30px; padding-top: 30px;">
    <ion-text>Bienvenidos a <span style="color:crimson; font-weight: bold"> AppGeo</span></ion-text>
    </div>
    <ion-button class="centrarvertical" (click)="searchRedes()" color="danger">
      Buscar redes <ion-icon name="search" ></ion-icon>
    </ion-button>
  </div>
</ion-content>