.centrado {
    text-align: center;
}
.centrarvertical{
    padding-top: 70%;
}
.principal {
    background: url(../assets/imagenes/splash.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;

}