<ion-header color="tertiary">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" color="tertiary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mis redes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item *ngFor="let red of redesUser.redes">
    <ion-label>
      <h2 class="size10">
        <ion-text color="tertiary">Tipo:</ion-text> {{red.tipoRed}}
      </h2>
      <h2 class="size10">
        <ion-text color="tertiary">Red: </ion-text>{{red.nombreRed}}
      </h2>
      <h2 class="size10">
        <ion-text color="tertiary">Contraseña: </ion-text>{{red.passwordRed}}
      </h2>
      <h2 class="size10" *ngIf="red.estadored == 0">
        <ion-badge color="warning">
          <ion-text style="color:black" (click)="changeRedMapa(red.id, red.estadored)">{{estadoCompartido}}
          </ion-text>
        </ion-badge>
      </h2>
      <h2 class="size10" *ngIf="red.estadored == 1">
        <ion-badge color="tertiary">
        <ion-text style="color:white" (click)="changeRedMapa(red.id, red.estadored)">{{estadoCompartir}}</ion-text>
        </ion-badge>
      </h2>
    </ion-label>
  </ion-item>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="search" (click)="goSearchWifi()">
          <ion-label>Buscar</ion-label>
          <ion-icon name="search"></ion-icon>
          <ion-badge>{{contador}}</ion-badge>
        </ion-tab-button>
        <ion-tab-button tab="wifi" (click)="Misredes()">
          <ion-label>Mis redes</ion-label>
          <ion-icon name="wifi"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="ios-map" (click)="goToMapa()">
          <ion-label>Mapa</ion-label>
          <ion-icon name="ios-map"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>