<ion-header color="tertiary">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" color="tertiary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mis redes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-grid>
    <div *ngFor="let red of redesUser.redes" no-padding>
    <ion-row no-padding style="padding-left: 5px; margin-top: 10px; background-color:#FCFCFC; padding-bottom:5px; ">
      <ion-col size="10" no-padding>
        <ion-label>
          <div class="size10" style="margin-top: 3px;">
            <ion-text color="tertiary">Red: </ion-text>{{red.nombreRed}}
          </div>
          <div class="size10" style="margin-top: 3px;">
            <ion-text color="tertiary">Contraseña: </ion-text>{{red.passwordRed}}
          </div>
          <div class="size10" *ngIf="red.estadored == 0" style="margin-top: 3px;">
            <ion-badge color="warning">
              <ion-text style="color:black" (click)="changeRedMapa(red.id, red.estadored)">{{estadoCompartido}}
              </ion-text>
            </ion-badge>
          </div>
          <h2 class="size10" *ngIf="red.estadored == 1" style="margin-top: 3px;">
            <ion-badge color="tertiary">
              <ion-text style="color:white" (click)="changeRedMapa(red.id, red.estadored)">{{estadoCompartir}}
              </ion-text>
            </ion-badge>
          </h2>
        </ion-label>
      </ion-col>
      <ion-col size="1" align-self-center align-items-cente>
         <span (click)="dleteMyred(red.id)">
             <ion-icon name="trash" color="danger"></ion-icon>
         </span>
      </ion-col>
    </ion-row>
  </div>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="search" (click)="goSearchWifi()">
          <ion-label>Buscar</ion-label>
          <ion-icon name="search"></ion-icon>
          <ion-badge>{{contador}}</ion-badge>
        </ion-tab-button>
        <ion-tab-button tab="wifi" (click)="Misredes()">
          <ion-label>Mis redes</ion-label>
          <ion-icon name="wifi"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="ios-map" (click)="goToMapa()">
          <ion-label>Mapa</ion-label>
          <ion-icon name="ios-map"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>