page-principal{
    .ion-grid{
        align-content: center;
    }

    .ion-list{
        align-items: center;
    }


    .scroll-content{
        justify-content: center;
        display: flex !important;
         align-items: center !important;
    }
}
.size-peq{ 
    font-size: 15px; 
    color:rgb(230, 134, 55); 
    font-family: 'Roboto-Light'; 
    opacity: 1; 
}


.ion-color-input {
    //div {border-bottom-color: #3f7e7e;}

    padding: 0 ! important;
    border-bottom-color: #3f7e7e !important;
    border-bottom-style: ridge !important; 
    border-bottom-width: thin;
    margin-bottom: 0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
    align-content: center;
    
    
}

.ion-fecha{
    border-color:"tertiary" !important;
    --background-rgb: 50, 182, 189 !important;
    --placeholder-color: #3f7e7e;
        
}

.date-color{
    --placeholder-color: #3f7e7e;
}

.bg {
    --background: white !important;
}

.form-control-line .form-group {
    overflow: hidden;
}

.form-control-line .form-control {
    border: 0px;
    border-radius: 0px;
    padding-left: 0px;
    border-bottom: 1px solid #f6f9ff;}
    .form-control-line .form-control:focus {
        border-bottom: 1px solid #398bf7; }
    