<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Buscar redes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  {{data|json}}
  <span  *ngFor="let x of data">
<ion-list>
  <ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-icon name="wifi"></ion-icon>{{x.SSID}}
    </ion-col>
    <ion-col size="6">Frecuencia: {{x.frequency}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>Tipo Seguridad: {{x.capabilities}}</p>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-list>

  </span>
 
  <!--   <ion-button shape="round" color="primary" fill="outline" (click)="presentLoading">Buscar redes</ion-button>
 -->
  <ion-button>Buscar redes</ion-button>
</ion-content>