<ion-header color="tertiary">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" color="tertiary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Buscar redes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-item-group no-padding>
    <ion-item-divider color="light">
      <ion-row>
        <ion-col size="11" float-left>
          Redes Disponibles
        </ion-col>
        <ion-col size="1">
          <div float-right>
            <ion-icon class="sizeIcon padding40" name="add-circle-outline" slot="end"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-item-divider>
  </ion-item-group>
  <ion-list>
    <ion-grid *ngFor="let x of data">
      <ion-item *ngIf="x.SSID !=''">
        <ion-row no-padding *ngIf="x.SSID == dataSSID">
          <ion-col size="8" (click)="showDataRed()" no-padding>
            <ion-text color="primary" style="padding-left: 4px;">{{x.SSID}}</ion-text>
          </ion-col>
          <ion-col size="2" no-padding style="padding-left:15px;">
            <ion-icon name="share-alt"></ion-icon>
          </ion-col>
          <ion-col size="2" no-padding style="padding-left:10px;">
            <ion-badge color="warning">{{x.level}}dBm</ion-badge>
          </ion-col>
          <div>
            <span style="font-size:12px">{{x.BSSID}}</span><br>
            <span style="font-size:12px; color:rgb(169, 184, 39)">
              <b>banda:</b> {{ formateaValor(x.frequency/1024)}} GHz
            </span>
          </div>
        </ion-row>
        <ion-row no-padding (click)="presentAlert(x.SSID)" *ngIf="x.SSID != dataSSID">
          <ion-col size="12" class="letterSmall" *ngIf="x.level < -20 && x.level >= -65">
            <ion-row no-padding>
              <ion-col size="1" no-padding>
                <div class="img-excelente"></div>
              </ion-col>
              <ion-col size="9" class="wifispace" no-padding>
                {{x.SSID}}
              </ion-col>
              <ion-col size="2" no-padding>
                <ion-badge color="warning">{{x.level}}dBm</ion-badge>
              </ion-col>
              <div>
                {{x.BSSID}}<br>
                <span style="font-size:12px; color:rgb(169, 184, 39)">
                  <b>banda:</b> {{ formateaValor(x.frequency/1024)}} GHz
                </span>
              </div>
            </ion-row>
          </ion-col>
          <ion-col size="12" class="letterSmall" *ngIf="x.level <= -66  && x.level >= -80 ">
            <ion-row no-padding>
              <ion-col size="1" no-padding>
                <div class="img-muybuena"></div>
              </ion-col>
              <ion-col size="9" class="wifispace" no-padding>
                {{x.SSID}}
              </ion-col>
              <ion-col size="2" no-padding>
                <ion-badge color="warning">{{x.level}}dBm</ion-badge>
              </ion-col>
              <div>
                {{x.BSSID}}<br>
                <span style="font-size:12px; color:rgb(169, 184, 39)">
                  <b>banda:</b> {{ formateaValor(x.frequency/1024)}} GHz
                </span>
              </div>
            </ion-row>
          </ion-col>
          <ion-col size="12" class="letterSmall" *ngIf="x.level <= -81 && x.level >= -95 ">
            <ion-row no-padding>
              <ion-col size="1" no-padding>
                <div class="img-buena"></div>
              </ion-col>
              <ion-col size="9" class="wifispace" no-padding>
                {{x.SSID}}
              </ion-col>
              <ion-col size="2" no-padding>
                <ion-badge color="warning">{{x.level}}dBm</ion-badge>
              </ion-col>
              <div>
                {{x.BSSID}}<br>
                <span style="font-size:12px; color:rgb(169, 184, 39)">
                  <b>banda:</b> {{ formateaValor(x.frequency/1024)}} GHz
                </span>
              </div>
            </ion-row>
          </ion-col>
          <ion-col size="12" class="letterSmall" *ngIf="x.level <= -96 && x.level > -120 ">
            <ion-row no-padding>
              <ion-col size="1" no-padding>
                <div class="img-mala"></div>
              </ion-col>
              <ion-col size="9" class="wifispace" no-padding>
                {{x.SSID}}
              </ion-col>
              <ion-col size="2" no-padding>
                <ion-badge color="warning">{{x.level}}dBm</ion-badge>
              </ion-col>
              <div>
                {{x.BSSID}}<br>
                <span style="font-size:12px; color:rgb(169, 184, 39)">
                  <b>banda:</b> {{ formateaValor(x.frequency/1024)}} GHz
                </span>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="search" (click)="goSearchWifi()">
          <ion-label>Buscar</ion-label>
          <ion-icon name="search"></ion-icon>
          <ion-badge>{{cont}}</ion-badge>
        </ion-tab-button>
        <ion-tab-button tab="ios-map" (click)="goToMapa(cont)">
          <ion-label>Mapa</ion-label>
          <ion-icon name="ios-map"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>