<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <div id="img-princ" img src="../assets/imagenes/wifi-img.png"></div>
        
    <ion-grid>
        <ion-row>
          <ion-col size="3" text-center>           
          </ion-col>
          <ion-col size="6" text-center>
              <ion-button shape="round" color="primary" fill="outline" (click)="IrLoguear()">Iniciar sesión</ion-button>
          </ion-col>
          <ion-col size="3">                
          </ion-col>
      </ion-row>
    </ion-grid>  
  <ion-button shape="round" color="primary" fill="outline" (click)="IrPrincipal()">Crear cuenta</ion-button>
</ion-content>


