<ion-header color="tertiary">
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title text-center>Estado de Red</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding>
    <!-- <div style="display:block;">
      <canvas baseChart
      [data]='doughnutChartData';
      [labels]='doughnutChartLabels';
      [chartType]='doughnutChartType';>
    </canvas>
    </div>     -->


    
    <!-- <button ion-button (click)="showChart">
      Show
    </button>
    <div id="chart_div">

    </div> -->


    <!-- <div #chartContainer class='chart-container'>
      <canvas  #chartcanvas id="myChart"></canvas>
  </div> -->

  
  
 
  
 <!-- <div echarts [options]="options" [merge]="datas" class="demo-chart"></div> -->
 
  </ion-content>

  <ion-footer>
    <ion-button expand="block" [disabled]="running" (click)="start()" color="secondary">Start</ion-button>
    <ion-button expand="block" [disabled]="!running" (click)="stop()" color="danger">Stop</ion-button>
  </ion-footer>
            

  