@media screen and (orientation: portrait) {
  .demo-chart {
    width: 100vw;
    height: 82vh;
    // height: 82vh;
    // display: block;
    // width: auto;
  }
}

@media screen and (orientation: landscape) {
  .demo-chart {
    width: 100vw;
    height: 68vh;
    // height: 60vh;
    // display: block;
    // width: auto;
  }
}

.donut-inner {
  margin-top: -29%;
  margin-bottom: 20%;
  margin-left: 46%
}


.donut-inner span {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  
}
.chartDiv{
  float: left;
  width: 50%;
  margin: 0px;
  padding: 0px;
  
}

canvas{
  margin: 0px;
  padding: 0px;
}


.info{
   float: left;
   width: 50%;
   text-align: center !important;
   font-size: 12px;
   height: 80px;
   background: #F2F2F2;
   margin-top: 10px;
}
.dt{
margin-top: 24px !important;
}
